# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.keras

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# VS Code
.vscode/
.idea/

# Datasets
NEU/
Datasets/

# Output
output/

# venv
env/
jupyter/
inference/
*.pkl

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# React
node_modules/
build/
yarn-error.log
yarn.lock
