# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.keras

# VS Code
.vscode/
.idea/
.zed/

# Datasets
data/

# venv
.venv/
.conda/
*.pkl

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# React
node_modules/
build/
yarn-error.log
yarn.lock

.DS_Store